@model SV18T1021108.DomainModel.Customer
@{
}

<div class="box box-primary">

    <form class="form-horizontal" action="~/customer/save" method="post">
        <input type="hidden" name="CustomerID" value="@Model.CustomerID" />
        <div class="box-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="CustomerName">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CustomerName" name="CustomerName" autofocus value="@Model.CustomerName">
                    @Html.ValidationMessage("CustomerName", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ContactName">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ContactName" name="ContactName" value="@Model.ContactName">
                    @Html.ValidationMessage("ContactName", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Address">Địa chỉ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                    @Html.ValidationMessage("Address", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Country">Quốc gia:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Country" name="Country">
                        @foreach (var country in SV18T1021108.BusinessLayer.CommonDataService.ListOfCountrys())
                        {
                            if (country.CountryName == Model.Country)
                            {
                                <option value="@country.CountryName" selected>@country.CountryName</option>
                            }
                            else
                            {
                                <option value="@country.CountryName">@country.CountryName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="city">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="city" name="city" value="@Model.City">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="PostalCode">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@Model.PostalCode">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-danger">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Lưu dữ liệu
                        </button>
                        <a href="~/customer" class="btn btn-warning">
                            <i class="fa fa-ban"></i> Quay lại
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

