@model SV18T1021108.DomainModel.Product
@{
    ViewBag.Title = "Bổ sung mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/product/save" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.ProductID" name="ProductID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ProductName" autofocus>
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Unit" autofocus>
                    @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Country">Loại hàng<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHeplper.Categories(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Country">Nhà cung cấp<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHeplper.Suppliers(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SupplierID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Price" value="@Model.Price">
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa<small class="text-danger"> * </small>:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <img id="Photo" src="@Model.Photo" class="img img-bordered" style="width:200px" />
                </div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10">
                        @Html.ValidationSummary()
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


